* {
  text-decoration: none;
}

.list {
  list-style: none;
}
.list p {
  margin: 0px;
  padding: 0px;
}
/* Шапка сайта */
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 94px 0px;
}

/******************************************/

body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --mail-tel-hover-color: #2196f3;
  --hover-color: #188ce8;
  --hero-text-color: #ffffff;
  --main-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-button-color: #2196f3;
}

/* Шапка сайта */

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--accent-color);
}

/* Навигация */

.site-nav {
  padding: 0px;
  margin: 0px;
}
.site-nav {
  display: flex;
  margin-right: auto;
  margin-left: 85px;
}
.site-nav .list:not(:last-child) {
  margin-right: 50px;
}
.site-nav a {
  display: block;
  padding: 32px 0px;
}
.site-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--primary-button-color);
}
.site-nav .current {
  color: var(--accent-color);
}

/* Почта и телефон */

.mail-tel .list:not(:last-child) {
  margin-right: 30px;
}
.mail-tel {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.mail-tel a {
  color: var(--secondary-text-color);
}
.mail-tel a:hover,
.mail-tel a:focus {
  color: var(--mail-tel-hover-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Акцентные кнопки */

.button {
  border: solid transparent;
  color: var(--third-text-color);
  padding: 10px 32px;
  min-width: 250px;
  border-radius: 4px;
  background: var(--primary-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  background: var(--hover-color);
}

/* СТИЛИ ФУТЕРА */

/* Адрес и лого */

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
.footer {
  background-color: var(--footer-background-color);
}

.address-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.web-title {
  color: var(--accent-color);
}
.studio-title,
.address-items {
  color: var(--third-text-color);
}

.footer-mail-tel {
  color: var(--footer-contacts-color);
}

.bold-text {
  color: var(--third-text-color);
  text-transform: uppercase;
}
