:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --hover-color: #188ce8;
  --hero-text-color: #ffffff;
  --main-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-button-color: #2196f3;
  --radio-button-backgroun-color: #f5f4fa;
}
.flex-list {
  list-style: none;
}

.hiden {
  font-size: 0px;
}

/* Основной контент */
.main-section {
  padding: 93px 0px;
  background-color: var(--main-background-color);
}

.radio-buttons {
  display: flex;
  margin: 0px;
  margin-bottom: 34px;

  padding: 0px;
}

.radio-buttons .list:not(:last-child) {
  margin-right: 8px;
}

.radio-buttons a {
  outline: solid 1px;
  display: block;
  padding: 6px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--primary-text-color);
}
.flex-list .item {
  padding: 20px 24px;
}

.flexbox-projects {
  display: flex;
  flex-wrap: wrap;
}

.flex-container {
  width: calc ((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.flex-container:nth-child(3n) {
  margin-right: 0px;
}
.flex-container:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.flex-list h2 {
  margin: 0px;
  padding: 0px;

  color: var(--primary-text-color);

  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
.flex-list h2 {
  margin-bottom: 4px;
}
.flex-list p {
  margin: 0px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
