/* Герой */
.section-hero {
  display: flex;
  padding: 200px 452px;
  background-color: #ee22ee;

  text-align: center;
}
.hero-text {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--hero-text-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

/* Заголовки */

.heading {
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 0px;
}

/* Особенности */

.features {
  margin: 0px;
  padding: 0px;
}
.features-title {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px;
  background-color: #ee22ee;

  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.features-text {
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 14px;
}

/* Чем мы занимаемся */
.work-examples {
  display: flex;
}

.work-text {
  color: var(--third-text-color);

  background: rgba(47, 48, 58, 0.8);

  text-transform: uppercase;
}

/* Наша команда */
.team {
  display: flex;
}
.names {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.position {
  font-weight: normal;
  font-size: 16px;
  color: var(--secondary-text-color);
}

/* Фото команды */

/* Постоянные клиенты */
