/* Герой */
.section-hero {
  display: flex;
  padding: 200px 452px;
  margin-bottom: 94px;
  background-color: #ee22ee;

  text-align: center;
}
.hero-text {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--hero-text-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

/* Заголовки */

.heading {
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 0px;
  text-align: center;

  font-weight: bold;
  font-size: 36px;
}

/* Особенности */

.features {
  display: flex;
  flex-wrap: wrap;

  margin: 0px;
  padding: 0px;
}
.features .list {
  width: 270px;
  margin-right: 30px;
}
.features .list:nth-child(4n) {
  margin-right: 0px;
}
.features-title {
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  background-color: #ee22ee;

  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.features-text {
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 14px;
}

/* Чем мы занимаемся */
.work-examples {
  display: flex;
  flex-wrap: wrap;

  margin: 0px;
  padding: 0px;
}
.work-examples .list {
  width: 370px;
  margin-right: 30px;
}
.work-examples .list:nth-child(3n) {
  margin-right: 0px;
}
.work-text {
  color: var(--third-text-color);

  background: rgba(47, 48, 58, 0.8);

  text-transform: uppercase;
}

/* Наша команда */
.team {
  display: flex;
  flex-wrap: wrap;

  margin: 0px;
  padding: 0px;
}
.team .list {
  width: 270px;
  margin-right: 30px;
}
.team .list:nth-child(4n) {
  margin-right: 0px;
}
.names {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.position {
  font-weight: normal;
  font-size: 16px;
  color: var(--secondary-text-color);
}
.socials {
  display: flex;
}

/* Фото команды */

/* Постоянные клиенты */
.clients {
  display: flex;
  flex-wrap: wrap;

  margin: 0px;
  padding: 0px;
}
.clients .list {
  width: 170px;
  margin-right: 30px;

  border: 1px solid var(--border-color);
  border-radius: 4px;
}
.clients .list:nth-child(6n) {
  margin-right: 0px;
}
